
</body>
<div class="navbar-fixed-bottom" >
        
   
         <ul class="nav nav-justified" style="background-color: #000000">
            <div class="navbar-text pull-left">
                <p style="color: #ffffff">Copyright by WorkForce Box @ 2015</p>
            </div>       
        </ul>
</div>
    